.images-acces{
	padding: 20px;
}
.title-acces{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}
#accessories a {
	white-space: nowrap;
}
#accessories h1{
	background: white;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 3.5em;
	font-style: italic;
	font-weight: bold;
}

hr{
	border-top: 1px solid black;
	position: relative;
	z-index: -1;
	bottom: 85px;
}
@media (max-width: 768px){
	.images-acces{
		padding: 0;
	}
	.title-acces{
		padding-top:20px;
		padding-bottom: 10px;
	}
	#accessories h1{
		font-size: 2em;
	}
}
@media (max-width: 991px){
	hr{
		bottom: 55px
	}
}